<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.towcent.base.dal.db.NotifyMailMapper">
	<resultMap id="BaseResultMap" type="com.towcent.base.common.model.NotifyMail">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="content" property="content" jdbcType="VARCHAR" />
		<result column="notice_type" property="noticeType" jdbcType="CHAR" />
		<result column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="app_type" property="appType" jdbcType="TINYINT" />
		<result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
		<result column="biz_no" property="bizNo" jdbcType="VARCHAR" />
		<result column="is_read" property="isRead" jdbcType="TINYINT" />
		<result column="merchant_id" property="merchantId" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		a.id, a.title, a.content, a.notice_type, a.user_id, a.app_type,
		a.create_date, a.biz_no, a.is_read, a.merchant_id
	</sql>
	<sql id="condition">
		<if test="null!=params">
			<if test="params.id != null">
				and a.id = #{params.id,jdbcType=INTEGER}
			</if>
			<if test="params.title != null and '' != params.title">
				and a.title = #{params.title,jdbcType=VARCHAR}
			</if>
			<if test="params.content != null and '' != params.content">
				and a.content = #{params.content,jdbcType=VARCHAR}
			</if>
			<if test="params.noticeType != null and '' != params.noticeType">
				and a.notice_type = #{params.noticeType,jdbcType=CHAR}
			</if>
			<if test="params.userId != null">
				and a.user_id = #{params.userId,jdbcType=INTEGER}
			</if>
			<if test="params.appType != null">
				and a.app_type = #{params.appType,jdbcType=TINYINT}
			</if>
			<if test="params.createDate != null">
				and a.create_date = #{params.createDate,jdbcType=TIMESTAMP}
			</if>
			<if test="params.bizNo != null and '' != params.bizNo">
				and a.biz_no = #{params.bizNo,jdbcType=VARCHAR}
			</if>
			<if test="params.isRead != null">
				and a.is_read = #{params.isRead,jdbcType=TINYINT}
			</if>
			<if test="params.merchantId != null">
				and a.merchant_id = #{params.merchantId,jdbcType=INTEGER}
			</if>
		</if>
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from notify_mail a
		where a.id = #{id,jdbcType=INTEGER}
	</select>
	<select id="selectByParams" resultMap="BaseResultMap"
		parameterType="map">
		select
		<include refid="Base_Column_List" />
		from notify_mail a
		where 1=1
		<include refid="condition" />
	</select>
	<select id="selectCount" resultType="java.lang.Integer">
		select count(1) as s from notify_mail a where 1=1
		<include refid="condition" />
	</select>
	<select id="selectByPage" resultMap="BaseResultMap"
		parameterType="com.towcent.base.common.page.SimplePage">
		select
		<include refid="Base_Column_List" />
		from notify_mail a
		<where>
			<include refid="condition" />
		</where>
		<if test="orderByField != null and ''!=orderByField">
			order by ${orderByField}
			<if test="orderByField">
				${orderBy}
			</if>
		</if>
		limit #{startRowNum} ,#{pageSize}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from notify_mail
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<delete id="deleteByPrimarayKeyForModel" parameterType="com.towcent.base.common.model.NotifyMail">
		delete from notify_mail
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.towcent.base.common.model.NotifyMail"
		useGeneratedKeys="true" keyProperty="id">
		insert into notify_mail (
		id,
		title,
		content,
		notice_type,
		user_id,
		app_type,
		create_date,
		biz_no,
		is_read,
		merchant_id
		)
		values (
		#{id,jdbcType=INTEGER},
		#{title,jdbcType=VARCHAR},
		#{content,jdbcType=VARCHAR},
		#{noticeType,jdbcType=CHAR},
		#{userId,jdbcType=INTEGER},
		#{appType,jdbcType=TINYINT},
		#{createDate,jdbcType=TIMESTAMP},
		#{bizNo,jdbcType=VARCHAR},
		#{isRead,jdbcType=TINYINT},#{merchantId,jdbcType=INTEGER}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.towcent.base.common.model.NotifyMail"
		useGeneratedKeys="true" keyProperty="id">
		insert into notify_mail
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="title != null and '' != title">
				title,
			</if>
			<if test="content != null and '' != content">
				content,
			</if>
			<if test="noticeType != null and '' != noticeType">
				notice_type,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="appType != null">
				app_type,
			</if>
			<if test="createDate != null">
				create_date,
			</if>
			<if test="bizNo != null and '' != bizNo">
				biz_no,
			</if>
			<if test="isRead != null">
				is_read,
			</if>
			<if test="merchantId != null">
				merchant_id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="title != null and '' != title">
				#{title,jdbcType=VARCHAR},
			</if>
			<if test="content != null and '' != content">
				#{content,jdbcType=VARCHAR},
			</if>
			<if test="noticeType != null and '' != noticeType">
				#{noticeType,jdbcType=CHAR},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=INTEGER},
			</if>
			<if test="appType != null">
				#{appType,jdbcType=TINYINT},
			</if>
			<if test="createDate != null">
				#{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="bizNo != null and '' != bizNo">
				#{bizNo,jdbcType=VARCHAR},
			</if>
			<if test="isRead != null">
				#{isRead,jdbcType=TINYINT},
			</if>
			<if test="merchantId != null">
				#{merchantId,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.towcent.base.common.model.NotifyMail">
		update notify_mail
		<set>
			<if test="id != null">
				id = #{id,jdbcType=INTEGER},
			</if>
			<if test="title != null and '' != title">
				title = #{title,jdbcType=VARCHAR},
			</if>
			<if test="content != null and '' != content">
				content = #{content,jdbcType=VARCHAR},
			</if>
			<if test="noticeType != null and '' != noticeType">
				notice_type = #{noticeType,jdbcType=CHAR},
			</if>
			<if test="userId != null">
				user_id = #{userId,jdbcType=INTEGER},
			</if>
			<if test="appType != null">
				app_type = #{appType,jdbcType=TINYINT},
			</if>
			<if test="createDate != null">
				create_date = #{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="bizNo != null and '' != bizNo">
				biz_no = #{bizNo,jdbcType=VARCHAR},
			</if>
			<if test="isRead != null">
				is_read = #{isRead,jdbcType=TINYINT},
			</if>
			<if test="merchantId != null">
				merchant_id = #{merchantId,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.towcent.base.common.model.NotifyMail">
		update notify_mail
		set
		title = #{title,jdbcType=VARCHAR},
		content = #{content,jdbcType=VARCHAR},
		notice_type = #{noticeType,jdbcType=CHAR},
		user_id = #{userId,jdbcType=INTEGER},
		app_type = #{appType,jdbcType=TINYINT},
		create_date = #{createDate,jdbcType=TIMESTAMP},
		biz_no = #{bizNo,jdbcType=VARCHAR},
		is_read = #{isRead,jdbcType=TINYINT},
		merchant_id = #{merchantId,jdbcType=INTEGER}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>